{% extends 'forum/base.html' %} {% block content %}

<div class="login-div" "post-preview">
    {% if user.is_authenticated %}
    <span class="login-text">Hello {{ user.username }}<small class="login-text">(<a href="{% url 'logout' %}">Log out</a>)</small></span>
    {% else %}
    <a href="{% url 'login' %}"><span class="glyphicon glyphicon-lock" style="margin-right: 10px"></span></a><em>Not logged in</em> {% endif %}
</div>

<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="post-preview">
        <h1 class="activity">Other</h1> {% if user.is_authenticated %}
        <a href="{% url 'other_post_new' %}" class="top-menu glyph-extra"><span class="glyphicon glyphicon-plus"></span><small> Create new topic in <em>Other</em></small></a>
        <br>
        <a href="{% url 'post_draft_list' %}" class="top-menu glyph-extra"><span class="glyphicon glyphicon-edit"></span><small> See my post drafts</small></a> {% else %}
        <p class="login-text">Login to create or edit posts</p>{% endif %}
    </div>

    <table class="table forum table-striped">
        <thead>
            <tr>
                <th class="cell-stat tabwidt-title">
                    <h3 class="topic-title">Topic</h3></th>
                <th class="cell-stat tabwidt-date text-center hidden-xs hidden-sm">Date</th>
                <th class="cell-stat tabwidt-comments text-center">Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <div class="post">
                    <td>
                        <h3 class="title-in-table"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                    </td>
                    <td class="text-center hidden-xs hidden-sm">
                        {{ post.published_date }}
                    </td>
                    <td class="text-center"> {{ post.comments.count }}
                </div>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul class="pager">
        <li class="next">
            <a href="{% url 'post_list' %}">&larr; Back to homepage</a>
        </li>
    </ul>

    <hr>
</div>

{% endblock %}
