{% extends 'forum/base.html' %} {% block content %}

<h1>practical</h1>

<table class="table forum table-striped">
    <thead>
        <tr>
            <th class="cell-stat">
                <h2>Title</h2></th>
            <th class="cell-stat text-center hidden-xs hidden-sm">Date</th>
            <th class="cell-stat text-center">Comments</th>
        </tr>
    </thead>

    <tbody>
        {% for post in posts %}
        <tr>
            <div class="post">
                <td>
                    <h1 class="post-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                </td>
                <td class="text-center hidden-xs hidden-sm">
                    {{ post.published_date }}
                </td>
                <td class="text-center"><a href="{% url 'post_detail' pk=post.pk %}"> {{ post.approved_comments.count }}</a>
            </div>
        </tr>
        {% endfor %}
    </tbody>

</table>

<ul class="pager">
    <li class="next">
        <a href="#">See all &rarr;</a>
    </li>
</ul>

{% endblock %}
