{% extends "forum/base.html" %} {% block content %}
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="post">
        <h1 class="activity">Login with your username and password</h1>
        <br>
    </div>

    <div class="post">
        {% if form.errors %}
        <p class="label-margin">Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td><span class="label-margin">{{ form.username.label_tag }}</span></td>
                    <td><span class="label-margin">{{ form.username }}<span></td>
                </tr>
                <tr>
                    <td><span class="label-margin">{{ form.password.label_tag }}<span></td>
                    <td><span class="label-margin">{{ form.password }}<span></td>
                </tr>
            </table>
    </div>

    <span class="label-margin"><input type="submit" value="login" /></span>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <hr>
</div>
{% endblock %}
